{% extends "modelo.html" %}
{% block conteudo %}
<h1>Lista de Tarefas</h1>

<table class="table table-striped table-responsive table-bordered">
  <thead class="thead-default">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tarefa</th>
      <th scope="col">Descrição</th>

    </tr>
  </thead>
  <tbody>
  {% for tarefa in lista_de_tarefas %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ tarefa[0] }}</td>
      <td>{{ tarefa[1] }}</td>
      <td>
        <form method="post" action="{{ url_for('excluir_tarefa', tarefa_id=loop.index-1) }}">
        <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}